html {
    font-size: 62.5%;
}

body{
    overflow-x: hidden;
    margin: 0;padding: 0;

}

/* section{
    margin: 5rem;
} */

.btn{
    font-size: 1.5rem;
    color: #fff;
    padding: .5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    line-height: 2;
    border-radius: 2rem;
    background: rgb(46, 44, 44);
    text-transform: capitalize;
    margin-top: .5rem;
    cursor: pointer;
}

.btn:hover{
    font-weight: bold;
    color: black;
    background: #94c2dc;
}

section{
    margin-bottom: 2rem;
    border-radius: 2rem;
}



.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFB6C1;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder; 
    margin: 0;
    text-transform: capitalize;
}

.heading h1{
    color: #000000;
    margin: 0;
}

.heading h1 span{
    color: #000;
}

/* header section */

header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    display: flex;
    padding: 1rem 7%;
    align-items: center;
    justify-content:space-between;
    z-index:1000;
    box-shadow: var(--box-shadow);
}

header .logo-img{
    width: 6rem;
    background: url(agungflorist.jpg);
}

header .logo{
    color: var(--black);
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}

header .navbar a.active, header .navbar a:hover{
    background: #FFB6C1;
}

header .icons i, header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;color:var(--black);
    border-radius: 50%;
    background: #d4e9c5;
    text-decoration: none;
}

header .icons i:hover, header .icons a:hover{
    color: black;
    background: #F4E7E1;
    transform: rotate(360deg);
}

header .icons #menu{
    display: none;
}



/* home section */
.home {
    position: relative;
    background: url("background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.home .content{
    padding: 3rem;
    background-color:rgb(255, 255, 255, 0.85);
    position: absolute;
    margin: 20rem 8rem;
    border-radius: 2rem;
    text-align: center;
    align-items: center;
}

.home .content h1{
    color:rgb(46, 44, 44);
    font-size: bolder;
    font-size: 5rem;
    margin: 0;
}

.home .content h3{
    color: rgb(252, 120, 120);
    font-weight: 600;
    font-size: 3rem;
    margin:0;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    font-weight: normal;
}

.home .content p{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    margin:0;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

.home .content .btn{
    background: #d4e9c5;
    color:#000;
    font-weight: 700;
    padding: 0.5rem 3.5rem;
    text-decoration: none;
}

.home .content .btn:hover{
    background: #F4E7E1;
    color:#000;
    font-weight: 700;
}

/* about section */
.about{
    max-width: 80%;
    position: relative;
    left: 10%;
    right: 10%;
    border: .1rem solid rgba(0,0,0,0.1);
    background:rgb(244, 231, 225, 0.4);
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 2rem;
    min-height: 30rem; 
}

.about .row .image{
    flex: 1 1 45%;
    background: url("buket1.jpg");
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

.about .row .image p{
    width: 100%;
    background: rgb(244, 231, 225, 0.8);
    border: .1 solid rgba(0, 0, 0);
    text-align: center;
    font-size:3rem;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 4rem;

}

.about .row .content{
    flex: 1 1 45%;
}

.about .row .content h3{
    font-size: 3rem;
    margin: 0;
    text-transform: capitalize;
    margin-top: 1rem;
}

.about .row .content p{
    font-size: 1.5rem;
    margin: 0;
    margin-top: 1rem;
    color: rgb(0, 0, 0);
    line-height: 3rem;
    margin-bottom: 1rem;
}

.about .row .content .btn{
    background: #d4e9c5;
    color:#000;
    font-weight: 700;
}

.about .row .content .btn:hover{
    background: #786a64;
    color:#ffffff;
    font-weight: 700;
}


/* products section */
.products{
    max-width: 80%;
    position: relative;
    left: 10%;
    right: 10%;
    border: .1rem solid rgba(0,0,0,0.1);
    background:rgb(244, 231, 225, 0.4);
}

.products .box-container select{
    width: 10%;
}

.products .box-container ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 3rem;
}

.products .box-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem 0 0 2rem;
}

.products .box-container ul{
    list-style-type: none;
}

.products .box-container ul li .box{
    width: calc(100% - 1rem);
    margin-left: 1rem; 
    border: .1rem solid rgba(0,0,0,0.1);
    background: #fff;
    margin-bottom: 1rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0,0, .1);;
    border-radius:.5rem;
}

.products .box-container ul li .box:hover .image .icons{
    z-index: 1;
}


.products .box-container ul li .box .image{
    position: relative;
}

.products .box-container ul li .box .image img{
    position: relative;
    width: 100%;
    height: 25rem;
    border-top-left-radius:.5rem;
    border-top-right-radius:.5rem;

}

.products .box-container ul li .box .image p{
    position: absolute;
    top: 0rem;
    left: .5rem;
    font-size:1rem;
    color: black;
    z-index: 1000;
    background: #d4e9c5;
    border-radius:.1rem;
    padding: .3rem;
}

.products .box-container ul li .box .image .icons{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: .9rem;
    line-height:2.5;
    z-index: -1;
}

.products .box-container ul li .box .image .icons i{
    font-size: 2.5rem;
    color: white;
}

.products .box-container ul li .box .image .icons a{
    text-decoration: none;
}

.products .box-container ul li .box .image .icons .btn{
    background: #F4E7E1;
    color: black;
}

.products .box-container ul li .box .image .icons .btn:hover{
    background: #d4e9c5;
}

.products .box-container ul li .box .image .icons i:hover{
    color: #d4e9c5;
}

.products .box-container ul li .box .content{
    text-align: center;
}

.products .box-container ul li .box .content h4{
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.products .box-container ul li .box .content .price{
    font-size: 2rem;
    color: #94c2dc;
    font-weight: bold;
}

.products .box-container ul li .box .content .price span{
    text-decoration: line-through;
    font-size: 1rem;
    color: rgb(73, 73, 73)
}


/* review section */

.review{
    max-width: 80%;
    position: relative;
    left: 10%;
    right: 10%;
    border: .1rem solid rgba(0,0,0,0.1);
    background:#eee;
}

.review .swiper-wrapper{
    margin: 1rem;
}

.review .slide{
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0, 0,0, .2);
    border-radius: .5rem;
    position: relative;
    background: #fff;
}

.review .slide .fa-quote-right{
    position: absolute;
    top: 2rem; right: 2rem;
    font-size: 6rem;
    color: #ccc;
}

.review .slide .user{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius:50%;
    object-fit: cover;
}

.review .slide .user h3{
    color: var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}

.review .slide .user i{
    font-size: 1.3rem;
    color: var(--green);
}

.review .slide p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--green);
}


/* contact section */

.contact{
    max-width: 80%;
    position: relative;
    left: 10%;
    right: 10%;
    border: .1rem solid rgba(0,0,0,0.1);
    background:rgb(244, 231, 225, 0.4);
}

.contact .row{
    min-height: 42rem;
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .form{
    border: .1rem solid rgba(0,0,0,0.1);
    border-radius: 2rem;
    background : rgb(255, 255, 255, 0.4);
    flex: 1 1 45%;
    padding: 2rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0,0, .1);;
}

.contact .row .form input, .contact .row .form select{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 95%;
    margin-top: 2rem;
    padding: .5rem;
    font-size: 1.5rem;
    border-radius:.5rem;
    border: .1rem solid black;
}

.contact .row .form .form-group .btnSubmit{
    background: #d4e9c5;
}

.contact .row .image{
    flex: 1 1 45%;
    max-width: 30%;
    max-height: auto;
}

.contact .row .image img{
    min-height: 42rem;
    width: 100%;
    border-radius: 2rem;
}

.footer{
    margin: 5rem;
    margin-bottom: 1rem;
}

.footer .box-container{
    padding-left: 2rem;
    display: flex;
}

.footer .box-container .box{
    width: calc(30%);
    margin-bottom: 1rem;
    gap: 2rem;
}

.footer .box-container .box h4{
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.footer .box-container .box .link{
    display: flex;
    flex-direction: column;
    
}

.footer .box-container .box .link a{
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 2;
    text-decoration: none;
    color: #000;
}
.footer .box img{
    width: 20rem;
    grid-template-columns: repeat(1);
}




/* media queries */

@media (max-width:991px){
    html{
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }
}

@media (max-width: 768px){

    header .icons #menu{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff; 
        border-top: .1rem solid rgba(0,0,0,0.1);
        border-bottom: .1rem solid rgba(0,0,0,0.1);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%,0 100%);
    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;;
    }

    .home .content p{
        width: 70%;
    }

    .about{
        max-width: 90%;
        left: 5%;
        right: 5%;
    }

    .products{
        max-width: 90%;
        left: 5%;
        right: 5%;
    }

    .products .box-container ul li .box{
        width: calc(100% - 1rem);
    }

    .review{
        max-width: 90%;
        left: 5%;
        right: 5%;
    }

    .contact{
        max-width: 90%;
        left: 5%;
        right: 5%;
    }

    .footer{
        margin: 3rem;
    }

    .footer .box-container .box{
        width: calc(48%);
    }

    .footer .box-container .box img{
        display: none;
    }

}

@media (max-width: 500px){
    html{
        font-size:50%
    }

    .home .content{
        top: 15rem;
        left: 2rem;
    }

    .home .content p{
        width: 90%;
    }

    .about .row{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .about .row .image{
        min-height: 30rem;
    }

    .products .box-container{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    .products .box-container ul li .box{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .products .box-container ul li .box .image img{
        height: 25rem;
    }

    .contact .row{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .contact .row .image img{
        min-height: 35rem;
    }



    .footer .box-container .box{
        width: calc(95%);
    }

}